src/main/mule/test-demo-jenkins-pipeline.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9cf317b3-3d23-41f7-a9a7-67e8329667f8" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="test-demo-jenkins-pipelineFlow" doc:id="f63c3979-8a1f-463e-8393-f52256abf2f3" >
		<http:listener doc:name="Listener" doc:id="21a83ab2-a496-4ce9-956e-fe3d373e7b77" config-ref="HTTP_Listener_config" path="/pepipeline"/>
		<logger level="INFO" doc:name="Logger" doc:id="dcfd6d36-b648-40c6-bc06-f03a25d6dbb3" message="#[payload]"/>
	</flow>
</mule>
